<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー情報編集</h2>

        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「新規登録機能へのパス」は、devise導入後にrails routesを実行してdevise/registrations#createへのパスを確認し、記載してください。 %>
      <%= form_with model: @user, url: edit_user_path, local: true do |f| %>

        <div class="field">
          <%= f.label "ニックネーム" %><br />
          <%= f.text_field :nickname %>
        </div>

        <div class="field">
          <%= f.label "年齢" %><br />
          <%= f.text_field :age %>
        </div>

        <div class="field">
          <%= f.label "プロフィール" %><br />
          <%= f.text_field :profile %>
        </div>

        <div class="actions">
          <%= f.submit "編集", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>